*{
    box-sizing: border-box;
}

html{
    scroll-snap-type: y mandatory;
    font-size: 10px;
    font-family: sans-serif;
}

section{
    height: 100vw;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
    box-sizing: border-box;
}

section img{
    width: 420px;
    height: auto;
}

ul{
    list-style: none;
}

header{
    padding-top: 20px;
    left: 15px;
    top: 0;
    position: absolute;
}

.header-img{
    width: 260px;
    height: auto;
}

.section7{
    background: #ff608c;
}

.section6{
    background: #fff;
}

.section5{
    background: #00c1b5;
}

.section4{
    background: #ff6519;
}

.section3{
    background: #ffbe00;
}

.section2{
    background: #1d3fbb;
}

.section1{
    background: #e30512;
}

body{
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    margin: 0;
}

.fp-table{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.middle{
    padding-top: 35px;
}

.middle .cover{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.orin{
    font-size: 15px;
    padding-top: 3px;
    line-height: 22px;
}

p{
    color: #251d20;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

footer{
    position: static
}

.container_fluid{
    margin-right: auto;
    margin-left: auto;
    padding-left: 22px;
    padding-right: 22px;
}

.description{
    position: absolute;
    bottom: 0;
    left: 22px;
    width: 320px;
    margin-top: 0;
}

.copyright{
    font-size: 12px;
    font-weight: normal;
}

.menu{
    position: absolute;
    bottom: 0px;
    right: 15px;
    width: 200px;
    text-align: right;
    z-index: 3;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    display: block;
}

.contactinfo{
    text-align: right;
    position: absolute;
    right: 15px;
    top: 20px;
    bottom: 0px;
    margin-top: 0;
}

a{
    color: #251d20;
}



