body {
    background-color: #faf2e4;
    margin: 0 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    
    background-image: url("img/sakblossom.png"), url("img/sakblossom-r.png");
    background-size: 15%, 15%;
    background-position: left top, right top;
    background-repeat: repeat-y, repeat-y;
}

.fancy-title {
    text-align: center;
    font-family: 'Marko One', Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 123, 0, 0.877);
    margin-top: 30px;
    margin-bottom: 0px;
}

.fancy-title img {
    height: 400px;
    width: 400px;
    padding-top: 0px;
    margin-top: 30px;
}

h2 {
    color: #d1633c;
    font-size: 18px;
}

.h2-format{
    color: rgba(255, 123, 0, 0.877);
    font-size: 40px;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
}

p {
    font-size: 0.875em;
}

.topnav {
    top: 0;
    position: fixed;
    background-color: #333;
    width: 70%;
    height: 60px;
    display: inline;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav li a {
    padding: 14px 20px;
}     

.topnav li a:hover {
    background-color: #d1633c;
}

.indexnav {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
    font-size: 20px;
}


li {
    display: inline;
    text-align: center;
    text-decoration: none;
}

.indexnav li a {
    display: block; /* makes the whole 'li' clickeable */ 
    color: black;
}

.indexnav li a:hover {
    color: rgb(158, 6, 64);
    font-size: 24px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: rgb(209, 60, 60)
}

.place-time {
    text-align: center;
    font-variant: small-caps;
}

.map {
    text-align: center;
    padding: 50px;
    margin: 50px;
}

.center {
    text-align: center;
    font-size: 30px;
    font-variant: small-caps;
    color: rgb(158, 6, 64);
}

.purple-text {
    color: purple;
    font-style: italic;
}

.food-menu-text {
    padding-left: 15px;
    margin-left: 30px;

}

.asterisk {
    padding-top: 10px;
    font-size: x-small;
    color: rgb(124, 19, 19);

}

dl {
    padding-top: 10px;
}

dt {
    font-weight: bold;
    padding-bottom: 10px;
    color: sienna;
}

dd {
    padding-bottom: 10px;
}

.maroon {
    color: maroon;
}

.prices {
    color: grey;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.special-h2 {
    text-transform: uppercase !important; 
    letter-spacing: 0.5em !important;
    color: rgb(65, 6, 65) !important;
}

h2 + p { /* Elements 'p' after 'h2' will be given that style */
    text-align: center;
    font-style: italic;
}