* {
    box-sizing: border-box;
}

body {
    background-color: #faf2e4;
    margin: 0 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

h1 {
    text-align: center;
    font-family: 'Marko One', Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 123, 0, 0.877);
    margin-top: 30px;
    margin-bottom: 10px;
}

h1 img {
    height: 400px;
    width: 400px;
    padding-top: 30px;
    margin-top: 30px;
}

h2 {
    color: #d1633c;
    font-size: 1.125em;
}

.h2-format{
    color: rgba(255, 123, 0, 0.877);
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

p {
    font-size: 0.875em;
}

.topnav {
    top: 0;
    padding: 0px;
    margin: 0px;
    position: fixed;
}

.indexnav {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    font-size: 20px;
}


li {
    display: block;
    display: inline;
    text-align: center;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: rgb(209, 60, 60)
}

.active a:active{
    background-color: gold;
    color: white;
}

.map {
    text-align: center;
    padding: 50px;
    margin: 50px;
}